#map {
    height: 400px;
    width: 400px
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #EF7B45;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

html {
    font-size: 15px;
}

body {
    min-height: 100vh;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

.navbar a {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navbar a:hover {
  color: whitesmoke;
  font-weight: 600;
}

.navbar-toggler {
    background:#EF7B45;
    border: none;
    outline: none;
    width: 50px;
}

/* .navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: black;
} */

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(205, 237, 246, 0.5), rgba(205, 237, 246, 0.5)), url('../img/backgroundphoto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerNoBackground {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(205, 237, 246, 0.5), rgba(205, 237, 246, 0.5));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
  justify-content: center;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

/* .content .form-container {
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
} */



/* .form {
  width: 250px;
  height: 380px;
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
} */


button {
  width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #EF7B45;
  background: #EF7B45;
  color: whitesmoke;
  cursor: pointer;
  position:relative;
  overflow: hidden;
}

button.large-button {
  width: 500px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #EF7B45;
  background: #EF7B45;
  color: whitesmoke;
  cursor: pointer;
  position:relative;
  overflow: hidden;
}

button.btn {
  width: 50px;
  text-align: center;
  margin: 2px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #5EB1BF;
  background: #5EB1BF;
  cursor: pointer;
  position:relative;
  overflow: hidden;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

main { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* #about-details {
    width: 250px;
    height: 500px;
    background: linear-gradient();
    position: absolute;
    top: -20px;
    left: 900px;
    border-radius: 10px;
    padding: 25px;
} */

.about-details {
  padding-top: 55px;
}

.home-price-section {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
}

.likeform {
  width: auto;
  height: 4rem;
}


.card-sm {
    margin-bottom: 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid;
    border-radius: 0.2rem;
}

.value {
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.2rem;
}

.label {
    font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}



.card-sm-body {
    padding: 1.25rem;
    min-height: 1px;
    flex: 1 1 auto;

}

.bi-heart {
    color:red;
}

.bi-heart-fill {
    color:red;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.detail-img {
  padding-top: 50px;
}

/* Sliding show of images */
.carousel {
  height: 500px;
  width: 750px;
}

.carousel .carousel-item {
  height: 500px;
  width: 740px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 740px;
}