{% extends 'base.html' %}
{% block title %}All Properties{% endblock %}

{% block body %}
  <h1>All Properties</h1>

  <ul>
    {% for theproperty in properties %}
      <li>
        <a href="/properties/{{theproperty.property_id}}">
          {{ theproperty.address}}
        </a>
      </li>
      
      <a class="btn btn-primary" href="/add_to_favorites/{{theproperty.property_id }}">Add to favorites!</a>
    {% endfor %}
  </ul>
  
  <!-- <script src="static/js/myfavorites.js"> -->
    
  <!-- </script> -->
{% endblock %}
