{% extends 'base.html' %}
{% block title %}My Applications!{% endblock %}

{% block body %}
  <h1>Applied!</h1>

  <div class="album py-5 bg-light">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for each_property in applied_properties %}

    <div class="homeContainer" id="showAddress">
      
      <div class="card" style="width: 18rem;">

      
      <div class="d-flex w-100 justify-content-between">
        <a href="/properties/{{each_property.theproperty.property_id}}" target="_blank">
          
          <p id="address-filed">{{each_property.theproperty.address}}</p>
          <p id="propertyid-filed">{{each_property.theproperty.property_id}}</p>
          <img src=" " height="100%" width="100%" style="width: 100%; height:100%">
        </a>
      </div>

      <div>
        <a href="/apply/{{each_property.theproperty.property_id}}">
          <p>!</p>
        </a>
      </div>

      <img id="photo-filed" height="200" width="200">
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
  </div>

  <a class="btn btn-primary" href="/myhomepage">Go back to homepage!</a>

  <script src="/static/js/myfavorites.js"></script>

{% endblock %}

{% block after_body %}
  
{% endblock %}