{% extends 'base.html' %}
{% block title %}My Applications!{% endblock %}

{% block body %}
  <nav class="navbar navbar-light p-3 navbar-expand" style="background-color: #e3f2fd;">
    <div class="container">
      <a href="" class="navbar-brand">Navigation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/myhomepage" class="nav-link">Go back to homepage!</a>
          </li>
          
          <li class="nav-item">
            <a href="/allproperties" class="nav-link">View all properties</a>
          </li>

          <li class="nav-item">
            <a href="/{{user.user_id}}/myfavorites" class="nav-link">View favorites</a>
          </li>

          <li class="nav-item">
            <a href="/{{user.user_id}}/myapplications" class="nav-link">View my applications</a>
          </li>

          <li class="nav-item">
            <a href="/log_out" class="nav-link">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>Applied!</h1>

  <div class="album py-5 bg-light">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for each_property in applied_properties %}

    <div class="homeContainer" id="showAddress">
      
      <div class="card" style="width: 18rem;">

      
      <div class="d-flex w-100 justify-content-between">
        <a href="/properties/{{each_property.theproperty.property_id}}" target="_blank">
          
          <p id="address-filed">{{each_property.theproperty.address}}</p>
          <p id="propertyid-filed">{{each_property.theproperty.property_id}}</p>
          <img src=" " height="100%" width="100%" style="width: 100%; height:100%">
        </a>
      </div>

      <div>
        <a href="/apply/{{each_property.theproperty.property_id}}">
          <p>!</p>
        </a>
      </div>

      <img id="photo-filed" height="200" width="200">
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
  </div>

  <a class="btn btn-primary" href="/myhomepage">Go back to homepage!</a>

  <script src="/static/js/myfavorites.js"></script>

{% endblock %}

{% block after_body %}
  
{% endblock %}