{% extends 'base.html' %}

{% block title %}About this Home{% endblock %}


{% block body %}
<h1>${{ property_details.get('price')}}</h1>
<a href="/add_to_favorites/{{property_details.property_id }}"> Add to favorites! </a><br>

<a href="/apply/{{property_details.property_id}}>"> Apply today!</a>
<p>
  {{ address_details.get('line')}},<br>
  {{ address_details.city}}
  {{ address_details.state_code}}
  {{ address_details.postal_code}} <br>
  {{ address_details.get('lat')}}
  {{ address_details.get('lon')}} <br>
  {{ property_details.get('prop_type')}} <br>
  {{ property_details.get('beds')}} Beds<br>
  {{ property_details.get('baths_full')}} Baths<br>
  {{ property_details.building_size.get('size')}} sqft<br>

</p>
<h1>See on the map!</h1>
<div>google map!</div>

<h1>Key Feature!</h1>
Status {{ property_details.get('prop_status')}} <br>
Lot Size {{ property_details.lot_size.get('size')}} sqft <br>

<h1>See below!</h1>

{% if property_details.description %}
  <p>{{property_details.description}}</p>
{% endif %}

<p>more details coming soon!</p>


<h1>Photos</h1>
<div class="gallery">
  <ul>
  {% for photo in photos %}
    <li><img class="images" src= {{photo.href}}/></li>
  {% endfor %}
  </ul>
</div>

<h1>School information</h1>
<div class="school">
  <ul>
  {% for school in schools %}
    <li>{{school.get('name')}}, {{school.ratings.get('great_schools_rating')}}</li>
  {% endfor %}
  </ul>
</div>
  

{% endblock %}
