{% extends 'base.html' %}

{% block title %}About this Home{% endblock %}
{% block head %} <link rel="stylesheet" href="/static/css/style.css"> {% endblock %}


{% block body %}
<h1>${{ property_details.get('price')}}</h1>
<a href="/myhomepage"> Back to Home Page! </a><br>
<a href="/add_to_favorites/{{new_property_id}}"> Add to favorites! </a><br>

<a href="/apply/{{new_property_id}}"> Apply today!</a>
<p>
  id:{{new_property_id}}
  {{ address_details.get('line')}},<br>
  {{ address_details.city}}
  {{ address_details.state_code}}
  <div id="zip">{{ address_details.postal_code}}</div><br>
  <div id="lat">{{ address_details.get('lat')}}</div>
  <div id="lon">{{ address_details.get('lon')}}</div><br>
  {{ property_details.get('prop_type')}} <br>
  {{ property_details.get('beds')}} Beds<br>

  
  {{ property_details.get('baths_full')}} Baths<br>
  

  {% if 'building_size' in 'property_details' %}
  {{ property_details.building_size.get('size')}} sqft<br>
  {% endif %}

</p>
<h1>See on the map!</h1>
<div id="map"></div>



<h1>Key Feature!</h1>
Status {{ property_details.get('prop_status')}} <br>

{% if 'lot_size' in 'property_details' %}
Lot Size {{ property_details.lot_size.get('size')}} sqft <br>
{% endif %}

<h1>See below!</h1>

{% if property_details.description %}
  <p>{{property_details.description}}</p>
{% endif %}

<p>more details coming soon!</p>


<h1>Photos</h1>
<div class="gallery">
  <ul>
  {% for photo in photos %}
    <li><img class="images" src= {{photo.href}}/></li>
  {% endfor %}
  </ul>
</div>

<h1>School information</h1>
<div class="school">
  <ul>
  {% for school in schools %}
    <li>{{school.get('name')}}, {{school.ratings.get('great_schools_rating')}}</li>
  {% endfor %}
  </ul>
</div>

<h1>Point of Interests</h1>
<div id="interests">
  <ul>
    <li>Malls</li>
    <li>Restaurants</li>
    <table id="restaurants"></table>
    <script src="/static/js/restaurants.js"></script>
    <li>Trails</li>
  </ul>
</div>


<script src="/static/js/maps.js"></script>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEqKcxHpYcXy26vXDUFySKYx0RqcOevmc&callback=initMap">
</script>


{% endblock %}
